<!DOCTYPE html>
<html>
    <head th:replace="~{layout/plantilla :: head}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <div id="img_prin" class="container" >

            <br/>
            <!--<h2 class="text-center pb-3">Perfil de nuestro medico Veterinario</h2>-->
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="image/Logo Veterinario.png" class="rounded img-fluid" alt="Foto de la veterinaria"/>
                        <!-- <img src="image/veterinario.jpg" alt="Foto de la veterinaria" width="300" height="400"> -->
                    </div>
                    <div class="col align-self-center">
                        <p class="font-italic">Cuando todo se reduce a la empatia lo cual en realidad no es difícil, si recordamos que ellos sienten y sufren como nosotros – y sólo forma parte de nuestro equipo quien es capaz de “ponerse en la piel” de la mascota que requiere nuestra atención. Conectarse a sus temores, su malestar o su sufrimiento.Empatía que nos induce a conjugar los conocimientos y la experiencia profesional a una atención esmerada, con el fin de superar de la manera más efectiva la dolencia ,evitando producir más malestar durante el proceso.Y con esa misma filosofía manejamos la atención relacionada a los procedimientos de salud preventiva y a los tratamientos estéticos.</p>

                    </div>
                </div>
            </div>
            <br>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="image/IMG-20220614-WA0001.jpg" class="d-block w-100" alt="IMG-20220614-WA0001">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dra.Maria Alejandra Garcia Flores</h5>
                            <p>Especialista en Fisioterapia y Imagenología</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="image/Veterinario1.jpg" class="d-block w-100" alt="GA8">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Dr.Jose Feilpe Alvarado Rojas </h5>
                            <p>Especialista en cirugia , oncologia y rehabilitacion</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="image/pelu.jpeg" class="d-block w-100" alt="GA4">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Elena Herrera Ramirez</h5>
                            <p>Encargada del area de peluqueria y baño</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
            <br/>
            <br/>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="image/medi.jpeg" class="card-img-top" alt="medi">
                        <p><small>Medicina interna</small></p>
                    </div>
                    <div class="col">
                       <img src="image/lab.jpg" class="card-img-top" alt="lab">
                      <p><small>Laboratorio</small></p>
                    </div>
                    <div class="col">
                    <img src="image/rayos.jpg" class="card-img-top" alt="rayos">
                   <p><small>Rayos X</small></p>
                    </div>
                    <div class="col">
                       <img src="image/cirugia.jpg" class="card-img-top" alt="cirugia">
                      <p><small>Cirugia</small></p>
                    </div>
                    <div class="col">
                    <img src="image/bano.jpeg" class="card-img-top" alt="bano">
                    <p><small>Peluqueria y baño</small></p>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">
                    Nuestra Ubicación
                </div>
                <div class="card-body">
                    <p>Estamos ubicados en el siguiente lugar:</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3703.7856955838943!2d-103.39622128548584!3d20.700510786159034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428a2baff7a054f%3A0x3c769dbbbd7d9c8d!2sVeterinaria%20XYZ!5e0!3m2!1sen!2smx!4v1647433050768!5m2!1sen!2smx" 
                            width="100%" 
                            height="450" 
                            style="border:0;" 
                            allowfullscreen="" 
                            loading="lazy">
                    </iframe>
                </div>
            </div>
            <h2 style="color: red; font-family: Arial, sans-serif;"></h2>
            <p style="color: purple; font-family: Verdana, sans-serif;">
            </p>
            <br/>
            <br/>
            <br/>
            <div class="container">
                <h2 class="text-center pb-3">Conozaca nuestras instalaciones</h2>
                <iframe width="100%"
                        height="415"
                        src="https://www.youtube.com/embed/5qkuZYseay4"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write;
                        encrypted-media; gyroscope; picture-in-picture;
                        web-share"
                        allowfullscreen>
                </iframe>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>