<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}"></head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>
    <seccion class="container">
        <a th:href="@{/campana/nuevo}"><button   class="btn btn-success">Agregar</button></a>
    </seccion>
    <section class="container" style="margin-top: 20px;">
        <div class="row" >
            <div class="lg-col-9" >
                <h3 class="text-center">[[#{plantilla.ListaCampa}]]:</h3>
                <!-- TABLA -->
                <div th:if="${campana ==null or campana.empty}">
                    <p>NO EXISTEN DATOS PARA MOSTRAR</p>
                </div>
                <div class="row row-cols-3" th:if="${campana!=null and !campana.empty}">
                    <div class="card" th:each="campana : ${campana}">
                     <div class="card-body" >   
                       
                           <!-- <th scope="col">id</th>
                            <th scope="col">[[#{plantilla.NombreCampa}]]:</th>
                            <th scope="col">[[#{plantilla.Descripcion}]]:</th>-->
                           
                       
                   
    
                        
                            <h4 class="card-subtitle mb-2 text-muted text-end">[[${campana.id_Campanas}]]</h4>
                            <h5 class="card-title">[[${campana.nombre}]]</h5>
                            <h6 class="card-text">[[${campana.descripcion}]]</h6>
                            <br/>
                             <figure>
                        <br/>
                        <figcaption>
                            <img th:src="${campana.rutaImagen}" height="350" width="250"/>
                        </figcaption>
                        <br/>
                        <br/>
                                <a th:href="@{/campana/editar/}+${campana.id_Campanas}" ><button  class="btn btn-warning">Editar</button></a>
                                <br/>
                                <br/>
                                <a th:href="@{/campana/eliminar/}+${campana.id_Campanas}"><button   class="btn btn-danger">Eliminar</button></a>
                             </figure>
                        
               
                  </div>
                </div>
                </section>
                </body>
                </html>